<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <title>YT1S Downloader</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon_144x144.png" sizes="144x144" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/milligram@1.4.1"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.27.2"></script>
  </head>

  <body>
    <main class="container">
      <h2>YT1S <code>Downloader</code></h2>
      <section v-if="!vid">
        <form @submit.prevent="index">
          <fieldset>
            <label for="q">Video ID*</label>
            <input
              type="search"
              v-model="q"
              id="q"
              name="q"
              placeholder="Youtube Video ID"
              required
            />
          </fieldset>
          <button type="submit">Search</button>
        </form>
      </section>
      <section v-else>
        <h4>{{ title }}</h4>
        <p>{{ channel }}</p>
        <hr />
        <form @submit.prevent="convert">
          <fieldset>
            <label for="k">Select format to download</label>
            <select v-model="k" id="k" name="k">
              <option disabled value="">
                - select a format -
              </option>
              <option v-for="(f, i) in formats" :value="f.k" :id="i">
                {{ f.f }} - {{ f.q }} ({{ f.size }})
              </option>
            </select>
          </fieldset>
          <button type="submit">Convert</button>
          <button type="button" @click="restart()">Next Video</button>
        </form>
      </section>
    </main>
    <script src="/main.js"></script>
  </body>
</html>
