<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <!-- For Primary (Google, etc)  -->
    <meta name="title" content="Youtube Downloader | Ethereal" />
    <meta
      name="description"
      content="Convert and download Youtube videos to MP3, MP4, 3GP for free with our Youtube Downloader. The downloading is very quick and simple, just wait a few seconds for the file to be ready on your device."
    />
    <meta name="image" content="/favicon_144x144.png" />

    <!-- For Facebook (Open Graph) -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Youtube Downloader | Ethereal" />
    <meta
      property="og:description"
      content="Convert and download Youtube videos to MP3, MP4, 3GP for free with our Youtube Downloader. The downloading is very quick and simple, just wait a few seconds for the file to be ready on your device."
    />
    <meta property="og:image" content="/favicon_144x144.png" />
    <meta property="og:url" content="/" />

    <!-- For Twitter [Image Card] -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Youtube Downloader | Ethereal" />
    <meta
      property="twitter:description"
      content="Convert and download Youtube videos to MP3, MP4, 3GP for free with our Youtube Downloader. The downloading is very quick and simple, just wait a few seconds for the file to be ready on your device."
    />
    <meta property="twitter:image" content="/favicon_144x144.png" />
    <meta property="twitter:url" content="/" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon_144x144.png" sizes="144x144" />
    <title>Youtube Downloader | Ethereal</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/milligram@1.4.1"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.27.2"></script>
    <style>
      .search-results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    </style>
  </head>

  <body>
    <main class="container">
      <h2>Youtube Downloader</h2>
      <h4>by <code>Ethereal Tech</code></h4>
      <br />
      <section v-if="!vid">
        <form @submit.prevent="index">
          <fieldset>
            <label for="q">Youtube Video ID or URL*</label>
            <input
              type="search"
              v-model="q"
              id="q"
              name="q"
              placeholder="Youtube URL or ID"
              required
            />
          </fieldset>
          <button type="submit">Search</button>
        </form>
      </section>
      <section v-else>
        <h4>{{ title }}</h4>
        <p>{{ channel }}</p>
        <hr />
        <form @submit.prevent="convert">
          <fieldset>
            <label for="k">Select format to download</label>
            <select v-model="k" id="k" name="k">
              <option disabled value="">
                - select a format -
              </option>
              <option v-for="(f, i) in formats" :value="f.k" :id="i">
                {{ f.f }} - {{ f.q }} ({{ f.size }})
              </option>
            </select>
          </fieldset>
          <button type="submit">Convert</button>
          <button type="button" @click="restart()">Next Video</button>
        </form>
      </section>
      <section v-if="results.length">
        <h4>Search Results</h4>
        <div class="search-results">
          <div v-for="let r of results" :id="r.v">
            <a href="javascript:void(0);" @click="selectVideo(r.v)">
              {{ r.t }}
            </a>
          </div>
        </div>
      </section>
    </main>
    <script src="/main.js"></script>
  </body>
</html>
