<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <!-- For Primary (Google, etc)  -->
    <meta name="title" content="Youtube Downloader | Ethereal" />
    <meta
      name="description"
      content="Convert and download Youtube videos to MP3, MP4, 3GP for free with our Youtube Downloader. The downloading is very quick and simple, just wait a few seconds for the file to be ready on your device."
    />
    <meta name="image" content="/favicon_144x144.png" />

    <!-- For Facebook (Open Graph) -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Youtube Downloader | Ethereal" />
    <meta
      property="og:description"
      content="Convert and download Youtube videos to MP3, MP4, 3GP for free with our Youtube Downloader. The downloading is very quick and simple, just wait a few seconds for the file to be ready on your device."
    />
    <meta property="og:image" content="/favicon_144x144.png" />
    <meta property="og:url" content="/" />

    <!-- For Twitter [Image Card] -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="Youtube Downloader | Ethereal" />
    <meta
      property="twitter:description"
      content="Convert and download Youtube videos to MP3, MP4, 3GP for free with our Youtube Downloader. The downloading is very quick and simple, just wait a few seconds for the file to be ready on your device."
    />
    <meta property="twitter:image" content="/favicon_144x144.png" />
    <meta property="twitter:url" content="/" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon_144x144.png" sizes="144x144" />
    <title>Youtube Downloader | Ethereal</title>
    <link rel="stylesheet" href="/milligram.min.css" />
    <script src="/vue.min.js"></script>
    <script src="/axios.min.js"></script>
    <style>
      .search-results {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2px;
      }

      .search-results p {
        font-size: 10px;
        letter-spacing: 1px;
        text-align: center;
      }

      .search-results img {
        width: 100%;
        height: auto;
        margin: 2px auto;
      }

      .loader-wrapper {
        position: fixed;
        inset: 0;
        background: #000d;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 500ms ease;
        opacity: 0;
      }

      .loader-wrapper.visible {
        opacity: 1;
      }

      .loader-wrapper .loader {
        border: 10px solid #707070;
        border-radius: 50%;
        border-top: 10px solid #303030;
        width: 64px;
        height: 64px;
        animation: spin 2s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>

  <body>
    <main class="container">
      <h2>Youtube Downloader</h2>
      <h4>by <code>Ethereal Tech</code></h4>
      <br />
      <section v-if="!vid">
        <form @submit.prevent="index">
          <fieldset>
            <input
              type="search"
              v-model="q"
              id="q"
              name="q"
              placeholder="Search or Youtube URL or ID"
              required
            />
          </fieldset>
          <button type="submit" :disabled="isLoading">Convert</button>
        </form>
      </section>
      <section v-else style="text-align: center;">
        <img
          :src="getThumbnailUrl(vid,'0')"
          style="width: 240px; height: auto; margin: 0 auto;"
        />
        <h4>{{ title }}</h4>
        <p>{{ channel }}</p>
        <hr />
        <form @submit.prevent="convert">
          <fieldset>
            <label for="k">Select format to download</label>
            <select v-model="k" id="k" name="k">
              <option disabled value="">
                - select a format -
              </option>
              <option v-for="(f, i) in formats" :value="f.k" :id="i">
                {{ f.f }} - {{ f.q }} ({{ f.size }})
              </option>
            </select>
            <p
              style="
                font-family: monospace;
                font-size: 10px;
                letter-spacing: 1px;
                font-weight: 700;
                color: #958300;
              "
            >
              * max download limit: 400MB
            </p>
          </fieldset>
          <button type="submit" :disabled="isLoading">Download</button>
          <button type="button" @click="restart()" :disabled="isLoading">
            Convert Next
          </button>
        </form>
      </section>
      <section v-if="results.length">
        <h4>Search Results</h4>
        <div class="search-results">
          <div v-for="r in results" :id="r.v">
            <template v-if="['live','video'].includes(r.type)">
              <a href="#" @click="selectVideo(r.id)">
                <img :src="getThumbnailUrl(r.id,'0')" />
                <p>
                  {{ r.title }} <code>{{ r.timestamp }}</code>
                </p>
                <p style="font-size: 8px;">
                  <a
                    :href="r.author.url"
                    target="_blank"
                    rel="noopener noreferrer"
                  >
                    {{ r.author.name }}
                  </a>
                </p>
                <div
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                >
                  <p style="font-size: 8px;">{{ r.ago }}</p>
                  <p style="font-size: 8px;">
                    {{ r.views.toLocaleString() }} Views
                  </p>
                </div>
              </a>
            </template>
          </div>
        </div>
      </section>
      <loading-spinner v-if="isLoading"></loading-spinner>
    </main>
    <template id="loading-spinner">
      <div class="loader-wrapper" :class="{'visible':visible}">
        <div class="loader"></div>
      </div>
    </template>
    <script src="/main.js"></script>
  </body>
</html>
